<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login System</title>
    <link rel="stylesheet" href="./main.css">
</head>

<body>
    <h2 class="heading">Login System</h2>
    <form action="/login" method="post">
        <label for="username">USERNAME</label>
        <input type="email" name="username" id="email" required>
        <label for="password">PASSWORD</label>
        <input type="password" name="password" id="pass" required>
        <button type="submit">Sign in</button>
    </form><br>
    <a href="/register">Register</a>


</body>

</html>